[submodule "themes/neofeed"]
	path = themes/neofeed
	url = https://github.com/victoriadrake/neofeed-theme.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
